body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: white;
}

nav {
    margin-top: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 3.3px;
    padding: 15px
}

nav a:hover {
    color: #eba58d
}


header {
    background-image: url('./img/IMG_6981.JPG');
    position: relative;
    z-index: 1;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-position-y: 30%;
}

.portfolio-preview {
    display: flex;
}

.portfolio-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 60px 0;
    display: flex;
    text-align: center;
}

section h2 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

section a {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #eba58d;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    font-size: 1.1em;
}

footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
}
